.nav {
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  text-align: left; /* Align text to the left */
  display: block; /* Ensure block-level display for the nav container */
  width: 100%; /* Make the nav take up the full width of its container */
}


.navlink{

  color:white;
height: 50px;
padding: 0px;
font-family: 'Times New Roman', Times, serif;
width:250px
}
.navitem{
  font-family: 'Times New Roman', Times, serif;
  color:white;
}

.cardbody{
  font-family: 'Times New Roman', Times, serif;
  
}

.font{
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
}


  .logo-img{
    width:30%;
    height: 30%;
      }
      .sidebar {
  
        overflow: hidden;
        width: 210px;
        box-shadow:rgb(19, 18, 18);
        font-family: 'Times New Roman', Times, serif;
      }

  .logo-img{
    width:30%;
    height: 30%;
      }
.sidebar{
  background: linear-gradient(to right, rgb(0, 110, 156), rgb(0, 66, 93));
  color:white
}
 .li{
  color:white
 }


 .sidebar {
  background: linear-gradient(to right, rgb(0, 110, 156), rgb(0, 66, 93));
  color:white;
  height: 100vh;
  padding-left:-10px 0;
}


.sidebar .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 20px ;
}

.sidebar .nav .navlink {
  display: flex;
  align-items: left;
  padding: 0px 0px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.sidebar .nav .navlink:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.sidebar .nav .navitem.active .navlink,
.sidebar .nav .navlink.router-link-active {
  background-color: white;
  color:09badd;
  font-weight: bold;
}

.sidebar .nav .navlink i {
  margin-right: 0px;
  color: inherit;
}

.sidebar .nav .navlink p {
  margin: 0;
  padding-right: 10px ;
}

.cardbody.user {
  font-weight: bold;
  padding-right: 10px ;
  margin-bottom: 20px;
  color: white;
}












