

<app-nav class="fixed-header sharednav" [buttons]="buttons"></app-nav>
    <div class="row  ">
      
    
              <div class="col-md-12 ml-3">
                <div class=" mt-5 mb-5">

                    <div class="card">
                      <div class="">
                        <div class="card-header mt-5 cardhead">
                            
                           
                            <p class=" " >Approve Request </p>      <div>       
                             
          <button *ngIf="this.cancelMessage" class=" col-md-2 alert alert-success  mt-3 ml-5">
            Cancled!
        </button>  </div>  
                        </div> 
                        
             
                        <div class="c  row col-md-8 ">
                      
    <table
    class="table  table-bordered  table-striped compact-table " 
    *ngIf="filteredTransfers.length || transfers.length" >    

      <thead>
        <tr>
          <th>Branch</th>
          <th>Transfer Type</th>
          <th>Transfer Date</th>
          <th>Member Id</th>
          <th>CAccount Number</th>
         
          <th>DAccount Number</th>
          <th>DAccount Owner</th>
          <th>Depositor Phone</th>

          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
                  
  
        <mat-error *ngIf="networkError" class="wide-error">
          {{ networkError }}
        </mat-error>
        
        <tr *ngFor="let tr of filteredTransfers || transfers" >
            <td>{{ tr.branch }}</td>
          <td>{{ tr.transType }}</td>
          <td>{{ tr.transDate }}</td>
          <td>{{ tr.memberId }}</td>

          <td>{{ tr.cAccountNo }}</td>
  
          <td>{{ tr.dAccountNo }}</td>

          <td>{{ tr.dDepositeName }}</td>
          <td>{{ tr.depositorPhone }}</td>
          <td>{{ tr.amount }}</td>
          <td>  <div class="btn btn-sm  material-icons1 mt-1 " [ngStyle]="{'font-size': '10px', 'padding': '2px 4px'}"
            (click)="approveTransfer(tr.id,tr)" >
            <i class="material-icons">check_circle</i>  Approve</div> </td>
          


<td> <div class="btn btn-sm material-icons2" [ngStyle]="{'font-size': '10px', 'padding': '2px 4px'}"
(click)="cancelTransfer(tr.id,tr)" >
<i class="material-icons">cancel</i>  Cancel</div> </td>                             

     
                         
        </tr>      
      </tbody>

  </table>
       
</div>
<div *ngFor="let slip of approvalSlips">
  <app-slip [transaction]="slip"></app-slip>
</div>
<div class=" mt-5 mb-5">
<div class="row mt-5 mb-5">
  <div class="col-md-10 mt-5 mb-5"></div>
  <div class="col-md-10 mt-5 mb-5"></div>
  <div class="col-md-10 mt-5 mb-5"></div>
  <div class="col-md-10 mt-5 mb-5"></div>
</div>
</div></div>




