

<app-nav class="fixed-header sharednav" [buttons]="buttons"></app-nav>
    <div class="row  ">
      
    
              <div class="col-md-12 ml-3">
                <div class=" mt-5 mb-5">

                    <div class="card">
                      <div class="">
                        <div class="card-header mt-5 cardhead">
                            
                           
                            <p class="card-header cardhead" >Initiate Request </p>      <div>       
           </div>  
                        </div> 
                        
             
                        <div class="c  row col-md-8 ">
                      
    <table
    class="table  table-bordered  table-striped compact-table " 
    *ngIf="filteredIfrsTransfers.length || IfrsTransfers.length" >    

      <thead>
        <tr>
            <th>No</th>
          <th>Branch</th>
          <th>Transaction Date</th>
          <th>Refno</th>
          <th>Account Number</th>
          <th>Amount</th>  

        </tr>
      </thead>
      <tbody>
                  
        <div class="loading-overlay" *ngIf="isSearching; else loadedData ">

          <p>Loading......</p>
        </div>
        <mat-error *ngIf="networkError" class="wide-error">
          {{ networkError }}
        </mat-error>
        
        <tr *ngFor="let tr of filteredIfrsTransfers || IfrsTransfers ; let i = index">
            <td>{{ i + 1 }}</td>    
            <td>{{ tr.inputinG_BRANCH }}</td>
   
          <td>{{ tr.transactioN_DATE }}</td>
          <td>{{ tr.refno }}</td>

  
          <td>{{ tr.accounT_NO }}</td>

          <td>{{ tr.amounT1 }}</td>
               <td>
                                       

                        <button class="btn btn-sm  material-icons1 mt-1 " [ngStyle]="{'font-size': '12px', 'padding': '4px 8px'}"
                        (click)="requestIfrsTransfer(tr.refno,tr)" >
                        <i class="material-icons icon-green">check</i> Request</button> 
          </td> 
          <td>
                                       

            
</td> 
                         
        </tr>      <ng-template #loadedData></ng-template>
      </tbody>

  </table>
       
</div>
<!-- <div *ngFor="let slip of approvalSlips">
  <app-slip [IfrsTransaction]="slip"></app-slip>
</div> -->
<div class=" mt-5 mb-5">
<div class="row mt-5 mb-5">
  <div class="col-md-10 mt-5 mb-5"></div>
  <div class="col-md-10 mt-5 mb-5"></div>
  <div class="col-md-10 mt-5 mb-5"></div>
  <div class="col-md-10 mt-5 mb-5"></div>
</div>
</div></div>




